/* Reset de estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
}

/* Estilo para a área principal */
#main {
    text-align: center;
    background-color: #111; /* Cor de fundo ligeiramente mais clara */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
}

/* Estilo para o título h1 */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff0000; /* Vermelho para o título */
}

/* Estilo para as caixas de entrada de texto */
.caixa {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333; /* Cor da borda um pouco mais clara */
    border-radius: 5px;
    background-color: #222; /* Cor de fundo mais escura */
    color: #fff; /* Texto branco */
}

/* Estilo para os botões */
input[type="button"], input[type="reset"] {
    padding: 10px 20px;
    background-color: #ff0000; /* Vermelho para os botões */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #cc0000; /* Vermelho mais escuro no hover */
}

/* Estilo para as imagens */
img {
    max-width: 100%;
    margin-top: 20px;
}

/* Estilo para os elementos de texto */
h3, h4 {
    margin-top: 20px;
}

/* Estilo para a linha horizontal (hr) */
hr {
    border: 1px solid #ff0000; /* Linha horizontal vermelha */
}

/* Estilo para o texto "calorias por dia" */
h3 {
    color: #ff0000; /* Vermelho para o título */
}

/* Estilo para o resultado de calorias por dia */
#calorias {
    font-size: 18px;
    color: #ff0000; /* Vermelho para o resultado */
}

/* Estilo para o texto de gênero (Masculino/Feminino) */
p input[type="radio"] {
    margin-right: 5px;
    color: #ff0000; /* Vermelho para os rótulos de gênero */
}

/* Estilo para a caixa de seleção (select) */
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333; /* Cor da borda um pouco mais clara */
    border-radius: 5px;
    background-color: #222; /* Cor de fundo mais escura */
    color: #fff; /* Texto branco */
}

/* Estilo para o botão Limpar */
.limpar {
    background-color: #cc0000; /* Vermelho mais escuro para o botão Limpar */
    color: #fff;
}
